

<div class="main">
    <a  routerLink="/" class="logout-logo"> <i class="fa-solid fa-lock  fa-1x lock-icon"  ></i><span class="logout">logout</span></a>
    <h1 class="my-project"> <b> MY PROJECTS  </b></h1>
    <div class=card-section>
    <div class="first_card">
       
        <h3 class="calsi">Calculator  </h3>
       
        <br>
        <p>Description:This calculator app is designed by using Html,css,Javascript.which is perform basic mathematical operations such as Addition,Subsctraction,division and Multiplication</p>
        <a routerLink="/calculator"><button   class="btn btn-warning p-2 mt-3 show" >SHOW-PROJECT</button></a>
    </div>
    <div class=second_card>

        <h3 class="stack">Stack-Exchange-Website  </h3>
       
        <br>
        <p>Description:the website regarding to"NSE demo project" which referes the stack details of stack-holder. 

            If you could provide more specific details or context about what you're referring to, I'd be happy to offer more detailed information.</p>
        <a routerLink="/nse-home"><button   class="btn btn-warning p-2 mt-3 show" >SHOW-PROJECT</button></a>
        
        

        
    </div>
</div>

</div>
