<div class=" port-folio">
  <div class="nav-div">
  <nav>
   <ul>
    
    <a routerLink="/log_in"> <li class="sign-in">Login</li></a>
    <a routerLink="/sign_up"><li class="signup ">Signup</li></a>
   </ul>
  </nav>
 </div>
 <div class="main">
 <div class="project_navigation">
 <a routerLink="/log_in"><button class="btn btn-danger p-2 navigation">NAVIGATE TO PROJECT</button></a>
 
 </div>
    
  <div class="content">
   <div class="profile">
     <div class="my_photo_area">
 <img  class="my_photo" src="assets/image/photo.jpg" alt="">
 </div>
 <div class="naming">
 
 <b><h2 class="name">Manda Rakesh </h2></b>
 <p>Full Stack-developer</p>
 
     </div>
     <div class="contact">
 
     <h5  class="contact-info"> Contact-Info:</h5>
     <br>
     
    <p>phone:9398496365</p>
    <br>
   
    <p>email-Id:mndrakesh@gmail.com</p>
    <br>
 
    <p>linkedIn:linkedin.com/in/manda-rakesh</p>
    <br>
  
    <p>Git-hub:github.com/mndrakesh</p>
    <br>
  
    <p>Adress:3-92,Manchiryal,Ts,504,207</p>
   
           </div>
 
   </div>
   <div class="details">
     <div class="about">
     <h4 class="aboutme_heading">ABOUT ME</h4>
     <div class="about-description">
     
     <p>Aspiring full-stack developer with a strong foundation in web-development,Backend-technologies,Frameworks, and database.
  
      
     </p>
   </div>
     </div>
     <div class="education">
      
      <h4 class="education_heading">EDUCATION</h4>
      <div class="education-description"> 
      <p><b>-B.tech(ECE):</b>6.93(cgpa)</p>
     
      <p>Sidhartha Institute of engg and tech,JNTUH.</p>
      
      <p><b>-Intermediate(MPC):</b>72.8(%)</p>
     
      <p>Shankari Junior college.</p>
      
      <p><b>-SSC:</b>8.5(cgpa)</p>
     
      <p>Z.P.H.S(boys) school.</p>
     </div>
     </div>
     <div class="skills">
       <h4 class="skill_heading">SKILLS</h4>
       <div class="skll-description">
       <p>-HTML5</p>
       <P>-CSS</P>
       <p>-JAVA SCRIPT</p>
       <p>-BOOTSTAP</p>
       <p>-ANGULAR
     
         <P>-NODE JS</P>
         <P>-SQL</P>
         <P>-JAVA</P>
       </div>
       
 
     </div>
     <div class="projects-info">
       <h4  class="project_heading">PROJECTS</h4>
       <div class="project_description">
         
       <p><b>1.CALCULATOR-:</b></p>
       <p><b>2.STACK-EXCHANGE WEBSITE-:</b></p>
       
      
       </div>
     </div>
 
   </div>
  <div>
 </div>
  </div>
 